<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>Hello app</title>
</head>

<body>
  <h1>MusicRecord</h1>
  <div id="app">
    <input v-model="record.title" placeholder="Title">
    <input v-model="record.artist" placeholder="Artist">
    <input v-model="record.duration" placeholder="Duration" type="number">
    <input v-model="record.yearOfPublication" placeholder="Year Of Publication" type="number">
    <button v-on:click="search()" class="btn btn-primary">Search</button>
    <button v-on:click="post()" class="btn btn-primary">Add</button>


    <table id="musicList" class="table" v-if="records.length">
      <thead>
        <tr>
          <th>Title</th>
          <th>Artist</th>
          <th>Duration</th>
          <th>Year of Publication</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="record in records">
          <td>{{ record.title }}</td>
          <td>{{ record.artist }}</td>
          <td>{{ record.duration }}</td>
          <td>{{ record.yearOfPublication }}</td>
        </tr>
      </tbody>
    </table>
    <button v-on:click="clear()" id="testElement" style="margin-left: 1000000px;"></button>
  </div>

  <script src="bundle.js"></script>
</body>

</html>